.LoginWrapper {
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.Login {
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(40,57,101,.9);
}

.sign-in-htm,
.sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}

.login-form .group .check{
    display:none;
}

.tab,
.group .label,
.group .button{
    text-transform:uppercase;
}

.tab{
    font-size:22px;
    padding-bottom:5px;
    color: #868585;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}

.tab.active {
    color:#fff;
    border-color:#1161ee;
}

.login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}

.group{
    margin-bottom:15px;
}

.group .label,
.group .input,
.group .button{
    width:100%;
    color:#fff;
    display:block;
}

.group .label{
    color:#aaa;
    font-size:12px;
}

.group .button{
    background:#1161ee;
}

.group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}

.group label .icon:before,
.group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}

.group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}

.group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}

.group .check:checked + label{
    color:#fff;
}

.group .check:checked + label .icon{
    background:#1161ee;
}

.group .check:checked + label .icon:before {
    transform:scale(1) rotate(45deg);
}

.group .check:checked + label .icon:after {
    transform:scale(1) rotate(-45deg);
}

.sign-in-htm.show {
    transform:rotate(0);
}

.sign-up-htm.show {
    transform:rotate(0);
}

.hr {
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}

.foot-lnk {
    text-align:center;
}

.Login input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.Login input:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}